<html>

<head>
    <title>EXPLORE</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="pages.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <%- include("nav.ejs", {}) %>
        <div class="image-container">
            <div class="page-one">
                <h1>🗺️EXPLORE</h1>
            </div>
            <div class="tag">
                <a href="/entertainment">
                    <h2>Entertainment</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/family">
                    <h2>Family</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/food">
                    <h2>Food</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/friends">
                    <h2>Friends</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/pets">
                    <h2>Pets</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/photography">
                    <h2>Photography</h2>
                </a>
            </div>
            <div class="tag">
                <a href="/other">
                    <h2>Other</h2>
                </a>
            </div>
        </div>
</body>

</html>