<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>

<body>
    <div class="container">
        <%- include("nav.ejs", {}) %>
            <div class="block">
                <img src="images/1.JPG">
            </div>
            <div class="block">
                <img src="images/2.JPG">
            </div>
            <div class="block">
                <img src="images/13.JPG">
            </div>
            <div class="block">
                <img src="images/10.JPG">
            </div>
            <div class="block">
                <img src="images/14.JPG">
            </div>
            <div class="block">
                <img src="images/4.JPG">
            </div>
            <div class="block">
                <img src="images/5.JPG">
            </div>
            <div class="block">
                <img src="images/6.JPG">
            </div>
            <div class="block">
                <img src="images/11.JPG">
            </div>
            <div class="block">
                <img src="images/12.JPG">
            </div>
            <div class="block">
                <img src="images/17.JPG">
            </div>
            <div class="block">
                <img src="images/16.JPG">
            </div>
            <div class="block">
                <img src="images/23.JPG">
            </div>
            <div class="block">
                <img src="images/22.JPG">
            </div>
            <div class="block">
                <img src="images/18.JPG">
            </div>
            <div class="block">
                <img src="images/19.JPG">
            </div>
    </div>
    </div>
</body>

</html>