<html>

<head>
</head>
<link rel="stylesheet" href="https://use.typekit.net/gju3saq.css">

<body>
    <div class="sideNav">
        <a href="javascript:void(0)" onclick="closeNav"></a>
        <a href="/">🏠</a>
        <a href="/about">📝</a>
        <a href="/explore">🗺️</a>
        <div class="subpage-container">
            <a href="/entertainment">🎶</a>
            <a href="/family">👨‍👩‍👧‍👧</a>
            <a href="/food">🍜</a>
            <a href="/friends">👭🏻</a>
            <a href="/pets">🐈</a>
            <a href="/photography">📸</a>
            <a href="/other">〰️</a>
            <a href="/submit">📨</a>
        </div>
    </div>
</body>

</html>