<html>

<head>
    <title>Welcome to Mood Block</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Kode+Mono:wght@400..700&family=Major+Mono+Display&family=Parkinsans:wght@300..800&display=swap"
        rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <style>
        body {
            background-image: url("/images/background.jpeg");
            background-color: rgba(0, 0, 0, 0.2);
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="mainContainer" style="flex-direction: column;">
        <div class="navContainer">
            <a href="/">Home</a>
        </div>
        <div class="homeContainer">
            <h1>Welcome to Mood Block<h1>
                    <div class="description">
                        <p>Mood Block is a tool for tracking and visualizing emotions through color. Each block corresponds to a recorded emotion, with intensity adjustable via a slider that updates the block’s hue. Over time, the board reveals patterns in emotional trends. </br> 
                        <p style="text-align: right;">In addition to its recording function, there are also a Tip page which provides insights and advice based on the most frequent colors appear on the board, helping users reflect and grow.</p>
                    </div>
                    <a href="/record">
                        <button type="submit" class="loginBtn">Enter Your Mood Block-></button>
                    </a>
        </div>
    </div>
</body>

</html>