<html>

<head>
    <title>Record</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Kode+Mono:wght@400..700&family=Major+Mono+Display&family=Parkinsans:wght@300..800&display=swap"
        rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <style>
        body {
            background-image: url("/images/background.jpeg");
            background-color: rgba(0, 0, 0, 0.2);
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="mainContainer">
        <div class="navContainer">
            <a href="/">Home</a>
            <a href="/record">Record</a>
            <a href="/help">Tips</a>
        </div>
        <div class="blockContainer">
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
            <div class="block"><span></span></div>
        </div>
        <div class="inputContainer">
            <div class="moodContainer">
                <p>Mood:</p>
                <div class="moodBtn">
                    <button type="button" class="redBtn" data-value="angry"
                        style="background-color: red;">Angry</button>
                    <button type="button" class="orangeBtn" data-value="energized"
                        style="background-color: orange;">Energized</button>
                    <button type="button" class="yellowBtn" data-value="happy"
                        style="background-color: #e3c104;">Happy</button>
                    <button type="button" class="greenBtn" data-value="calm"
                        style="background-color: green;">Calm/Relaxing</button>
                    <button type="button" class="turquoiseBtn" data-value="compassion"
                        style="background-color: turquoise;">Compassion</button>
                    <button type="button" class="blueBtn" data-value="sad" style="background-color: blue;">Sad</button>
                    <button type="button" class="purpleBtn" data-value="creative"
                        style="background-color: purple;">Creative</button>
                    <button type="button" class="pinkBtn" data-value="romance"
                        style="background-color: pink;">Romantic</button>
                    <button type="button" class="brownBtn" data-value="wistful"
                        style="background-color: brown;">Wistful</button>
                </div>
                <p style="font-size: 18px;">Don’t See a “Stress” button?</br>Drag the slider to the left.</p>
            </div>
            <div class="intensityContainer">
                <p>How was it?</p>
                <input type="range" class="saturationSlider" min="0" max="100" value="50">
            </div>
            <button class="submitBtn">Submit</button>
            <p>Want a New Board?</p>
            <button class="clearBtn">Clear</button>
            <p>Seeing too much of a color?</p>
            <a href="/help">
                <button class="submitBtn">Get a Tip!</button>
            </a>
        </div>
    </div>
</body>

</html>
